:root {
  --appBlue: #2ab7ca;
  --appGray: #f3f3f3;
  --appWhite: #fff;
  --appRed: #ff8484;
  --appBlack: #1f1f21;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}